<section id ="main_area">
	<div class="full-container">
    		<div class="wrapper span7 left">
		      <h2>Welcome to Pasar Official Blog.</h2>
		      <p>Watch this space as we will update our news and progress with Pasar here!</p>
		      	<p>Sign up for free, for a limited time only.</p>	
		      </div>
		      <div class="wrapper span3 right">
		      	<img src="http://placehold.it/280x200"/>
		  	</div>
		  <!-- 	<div class="wrapper span3 left">
		  		<img src="http://placehold.it/280x200"/>
		  	</div>
		  	<div class="wrapper span7 right"> 
		      <h2>Have a dedicated online shopping experience</h2>
		       	<p>Blogshopping around Pasar, all in one site.</p>
		      	<p>Keep your favorite items in your own personalized cart. No more hassle looking for that cloth you were looking for last week!</p>
		  	</div> -->
  		</div>
   	
</section>