<section id ="main_area">
	<div class="full-container">
    		<div class="wrapper span3 left">
		      <h2>Contact us.</h2>
		      <p>John</p>
		      	<p>Petaling Jaya</p>
		      	<p>Kuala Lumpur, Malaysia</p>
		      	<p>8144441234</p>	
		      </div>
		      <div class="wrapper span7 right">
		      	<img src="http://placehold.it/480x200"/>
		  	</div>
	
  		</div>
   	
</section>