<section id ="main_area">
    	<div class="intro">
      <h1 class="intro">Marketplace for Malaysian blogshoppers & blogshop owners.</h1>
      	 <p><img src="http://placehold.it/800x400" alt="intro" title="intro"/></p>
      	 <p><span><a href='#' class="button signup">Sign up</a></span>
      <a href='#' class='button learn'>Sign in</a></p>
      	</div>
     </section> 	


    <section id="join_us">
    	<div class="full-container">
    		<div class="wrapper span7 left">
		      <h2>Create your own store and join our market</h2>
		      <p>Upload and list your own products -inside your own store- here in Pasar!</p>
		      	<p>Sign up for free, for a limited time only.</p>	
		      </div>
		      <div class="wrapper span3 right">
		      	<img src="http://placehold.it/280x200"/>
		  	</div>
		  	<div class="wrapper span3 left">
		  		<img src="http://placehold.it/280x200"/>
		  	</div>
		  	<div class="wrapper span7 right"> 
		      <h2>Have a dedicated online shopping experience</h2>
		       	<p>Blogshopping around Pasar, all in one site.</p>
		      	<p>Keep your favorite items in your own personalized cart. No more hassle looking for that cloth you were looking for last week!</p>
		  	</div>
  		</div>
    </section>